<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.depromeet.bread">
    <uses-permission android:name="android.permission.INTERNET"/>


    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme" >

        <activity
            android:name=".activity.signup.InfoActivity"
            android:theme="@style/AppTheme.NoActionBar.FullScreen"
            android:screenOrientation="portrait" />

        <activity
            android:name=".splash.SplashActivity"
            android:theme="@style/AppTheme.NoActionBar.FullScreen"
            android:screenOrientation="portrait" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

        </activity>

        <activity
            android:name=".activity.signup.LoginActivity"
            android:theme="@style/AppTheme.NoActionBar"
            android:screenOrientation="portrait" />



        <activity
            android:name=".activity.signup.AgreementActivity"
            android:theme="@style/AppTheme.NoActionBar"
            android:screenOrientation="portrait" />

        <activity
            android:name=".activity.signup.MajorList2Activity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar"
            android:screenOrientation="portrait" >


        </activity>


        <activity
            android:name=".activity.signup.MajorListActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar"
            android:screenOrientation="portrait" >


        </activity>


        <activity
            android:name=".activity.signup.IndividualActivity"
            android:theme="@style/AppTheme.NoActionBar"
            android:screenOrientation="portrait">


        </activity>

        <activity
            android:name=".activity.signup.ConfirmActivity"
            android:theme="@style/AppTheme.NoActionBar"
            android:screenOrientation="portrait" />




        <activity
            android:name=".chat.ChatActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar"
            android:screenOrientation="portrait"/>


    </application>

</manifest>